.menu-lateral{
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr; /*define a altura das linhas em um layout de grid.*/
    row-gap: 2rem;
}
.menu-lateral__logo{
    justify-self: center;
}


.menu-lateral__link button{
    display: flex;
    align-items: center;
}